<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>

<script type="text/javascript" language="javascript">

var updateTimeOut;

function resizeMap() {
 $('#map').css({'height':(($(document).height())-40)+'px', 'width':'100%'});
 return false;
}

function checkMarkerExists(temp_id) {
  for (var i=0, marker; marker=map.markers[i]; i++){
   if (marker.temp_id==temp_id) return true;
  }
  return false;
}

function getMarkerIndex(temp_id) {
  for (var i=0, marker; marker=map.markers[i]; i++){
   if (marker.temp_id==temp_id) return i;
  }
 return false;
}

function updateLocations() {
 var url="?";
 url+='&ajax=1&op=getlocations';

 $.ajax({
   url: url
  }).done(function(data) { 
   var obj=jQuery.parseJSON(data);
   if (obj.LOCATIONS.length>0) {
      var locations=obj.LOCATIONS;
      var locationsLength = locations.length;
      for(var i = 0; i < locationsLength; i++)
      {
         var location = locations[i];
         var myCircle = new ymaps.Circle([[location.LAT, location.LON], location.RANGE], { hintContent: location.TITLE });
         map.geoObjects.add(myCircle);
      }
   }
  });


 return false;
}

function updateRoute(device_id, color) {
 var url="?";
 url+='&ajax=1&op=getroute&period=[#PERIOD#]&from=[#FROM#]&to=[#TO#]&device_id='+device_id;

 $.ajax({
   url: url
  }).done(function(data) { 
   var obj=jQuery.parseJSON(data);
   if (obj.PATH.length>0) {

    var points=obj.POINTS;

	var colors = ['#FF0000', '#0000FF', '#00FF00', '#FFA500', '#A52A2A', '#808080', '#FFFF00', '#FFFFFF'];
    var geometry = new Array();
       points.forEach(function (item, i, points) {
            geometry.push(new Array(item.LAT, item.LON))
       });
       ymaps.route(geometry,  {mapStateAutoApply: true}).then(
               function (route) {
                   route.getPaths().options.set({
                       strokeColor: colors[device_id],
                       strokeWidth: 4,
                       opacity: 0.9
                   });
                   map.geoObjects.add(route.getPaths());
               },
               function (error) {
                   console.log('Возникла ошибка: ' + error.message);
               }
       );
  }
  });
 return false;
}


function updateMarkers() {
 var url="?";
 url+='&ajax=1&op=getmarkers';
 $.ajax({
   url: url
  }).done(function(data) { 
   var obj=jQuery.parseJSON(data);
   var markers=obj.MARKERS;
   var markersCnt = markers.length;

   for(var i=0;i<markersCnt;i++) {
     var marker=markers[i];
     var temp_id=marker.ID;
     //if (!checkMarkerExists(temp_id)) {

     var myPlacemark = new ymaps.Placemark(
		[marker.LAT, marker.LON],
		{
				hintContent: marker.HTML
		},
		{
			preset: 'islands#'+marker.COLOR+'CircleDotIcon'
		}
     );
     map.geoObjects.add(myPlacemark);
   }
   updateTimeOut=setTimeout('updateMarkers();', 3000);

  });
 return false;
}



    var map;


    [#if LATEST_LAT!=""#]
    var startLat=[#LATEST_LAT#];
    [#else#]
    var startLat=53.901506;
    [#endif#]

    [#if LATEST_LON!=""#]
    var startLon=[#LATEST_LON#];
    [#else#]
    var startLon=27.565269;
    [#endif#]
    
    $(document).ready(function(){
	ymaps.ready(function () {
		map = new ymaps.Map('map', {
			center: [startLat, startLon],
			zoom: 17
            [#if MAPTYPE="map"#]
            , type: 'yandex#map'
            [#endif#]
            [#if MAPTYPE="satellite"#]
            , type: 'yandex#satellite'
                [#endif#]
            [#if MAPTYPE="hybrid"#]
            , type: 'yandex#hybrid'
            [#endif#]
		});
		updateMarkers();
        resizeMap();

        [#begin DEVICES#]
        updateRoute([#ID#], '[#COLOR#]');
        [#end DEVICES#]
        updateLocations();
		});
    });


function legendClicked(id, color) {
 map.geoObjects.removeAll();
 updateMarkers();
 updateLocations();
 updateRoute(id, color);
 return false;
}

</script>

<div id="add_controls">
<table border="0" cellspacing=3 cellpadding=3>
 <tr>
 [#begin DEVICES#]
  <td>
  <img src="http://labs.google.com/ridefinder/images/mm_20_[#COLOR#].png" border="0">
  </td>
  <td>
  <a href="#" onClick="return legendClicked([#ID#], '[#COLOR#]');" class="btn btn-sm">[#NAME#] ([#TITLE#])</a>
  <!--#
  [#if LATEST_LAT!=""#]map.setCenter([#LATEST_LAT#], [#LATEST_LON#]);[#endif#]
  #-->
  </td>
 [#end DEVICES#]
 <form action="?" method="get">
 <td>
 <script language="javascript">
  function periodUpdated() {
   if ($('#selPeriod').val()=='custom') {
    $('#customDates').show();
   } else {
    $('#customDates').hide();
   }
   return false;
  }
 </script>
 <#LANG_PERIOD#>:
 </td>
 <td>
 <select name="period" onChange='periodUpdated();' id='selPeriod' class="form-control input-sm">
  <option value="today"[#if PERIOD="today"#] selected[#endif#]><#LANG_PERIOD_TODAY#>
  <option value="day"[#if PERIOD="day"#] selected[#endif#]><#LANG_PERIOD_DAY#>
  <option value="week"[#if PERIOD="week"#] selected[#endif#]><#LANG_PERIOD_WEEK#>
  <option value="month"[#if PERIOD="month"#] selected[#endif#]><#LANG_PERIOD_MONTH#>
  <option value="custom"[#if PERIOD="custom"#] selected[#endif#]><#LANG_PERIOD_CUSTOM#>...
 </select>
 </td>
 <td>
 <span id='customDates' [#if PERIOD!="custom"#]style="display:none"[#endif#]>
 <table width="100%" border="0">
  <tr>
   <td>
 </td>
 <td>
 <input type="date" name="from" value="[#FROM#]" class="form-control input-sm">
 </td>
 <td>
 -
 </td>
 <td>
 <input type="date" name="to" value="[#TO#]" class="form-control input-sm">
  </td>
  </tr>
 </table>
 </span>
 </td>
 <td>
 <input type="submit" name="Update" value="<#LANG_SEARCH#>" class="btn btn-sm">
 </td>
 </form>
 </tr>
</table>
</div>

<div id="map" style="width: 100%; height: 620px;"></div>
