[#inc action_usual_scripts.html#]
[#if API_KEY!=""#]
<script src="https://api-maps.yandex.ru/2.1/?apikey=[#API_KEY#]&lang=ru_RU" type="text/javascript"></script>
[#else#]
<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
[#endif#]

<script type="text/javascript" language="javascript">

var updateTimeOut;

function updateLocations() {
    loadLocations(function () {
        var locationsLength = locations.length;
        for(var i = 0; i < locationsLength; i++)
        {
            var location = locations[i];
            var myCircle = new ymaps.Circle([[location.LAT, location.LON], location.RANGE], { hintContent: location.TITLE });
            map.geoObjects.add(myCircle);
        }

    });
   return false;
}
function updateRoute(device_id, color) {
    loadRoute(device_id, function (path) {
        if (path.length>0) {
            var colors = ['#FF0000', '#0000FF', '#00FF00', '#FFA500', '#A52A2A', '#808080', '#FFFF00', '#FFFFFF'];
            var geometry = new Array();
            path.forEach(function (item, i, points) {
                geometry.push(new Array(item.LAT, item.LON))
            });
            ymaps.route(geometry,  {mapStateAutoApply: true}).then(
                function (route) {
                    route.getPaths().options.set({
                        strokeColor: colors[device_id],
                        strokeWidth: 4,
                        opacity: 0.9
                    });
                    map.geoObjects.add(route.getPaths());
                },
                function (error) {
                    console.log('Возникла ошибка: ' + error.message);
                }
            );
        }
    });

 return false;
}
function updateMarkers() {
    loadMarkers(function () {
        var markersCnt = markers.length;
        for(var i=0;i<markersCnt;i++) {
            var marker=markers[i];
            var temp_id=marker.ID;
            var myPlacemark = new ymaps.Placemark(
                [marker.LAT, marker.LON],
                {
                    hintContent: marker.HTML
                },
                {
                    preset: 'islands#'+marker.COLOR+'CircleDotIcon'
                }
            );
            map.geoObjects.add(myPlacemark);
        }
    });
    updateTimeOut=setTimeout('updateMarkers();', 3000);
    return false;
}

    var map;
    [#if LATEST_LAT!=""#]
    var startLat=[#LATEST_LAT#];
    [#else#]
    var startLat=53.901506;
    [#endif#]

    [#if LATEST_LON!=""#]
    var startLon=[#LATEST_LON#];
    [#else#]
    var startLon=27.565269;
    [#endif#]
    
    $(document).ready(function(){
	 ymaps.ready(function () {
		map = new ymaps.Map('map<#UNIQ#>', {
			center: [startLat, startLon],
			zoom: 17
            [#if MAPTYPE="map"#]
            , type: 'yandex#map'
            [#endif#]
            [#if MAPTYPE="satellite"#]
            , type: 'yandex#satellite'
                [#endif#]
            [#if MAPTYPE="hybrid"#]
            , type: 'yandex#hybrid'
            [#endif#]
		});
		updateMarkers();
        [#begin DEVICES#]
        updateRoute([#ID#], '[#COLOR#]');
        [#end DEVICES#]
        updateLocations();
		});
     resizeMap();
    });
</script>


[#inc action_usual_common.html#]