[#inc action_usual_scripts.html#]
<script src="http://openlayers.org/api/OpenLayers.js"></script>
<script src="http://mapstraction.com/mxn/build/latest/mxn.js?(openlayers)" type="text/javascript"></script>

    <script type="text/javascript" language="javascript">

        var updateTimeOut<#UNIQ#>;

        function updateLocations<#UNIQ#>() {
            loadLocations(function () {
                let locationsLength = locations.length;
                for(let i = 0; i < locationsLength; i++)
                {
                    let location = locations[i];
                    let center = new mxn.LatLonPoint(parseFloat(location.LAT),parseFloat(location.LON));
                    let rad = new mxn.Radius(center, 10);
                    let poly = rad.getPolyline(Math.round(parseFloat(location.RANGE)/1000), '#F00014');
                    map<#UNIQ#>.addPolyline(poly);
                    map<#UNIQ#>.polylines.push(poly);
                }
            });
            return false;
        }

        function updateRoute<#UNIQ#>(device_id, color) {
            loadRoute(device_id, function (path) {
                if (path.length>0) {
                    let polyPoints = [];
                    path.forEach(function (item, i, arr) {
                        let polyPoint = new mxn.LatLonPoint(parseFloat(path[i].LAT) , parseFloat(path[i].LON));
                        polyPoints.push(polyPoint);
                    });

                    let polygon = new mxn.Polyline(polyPoints);
                    polygon.setClosed(false);
                    polygon.setColor(color);
                    polygon.setWidth(3);
                    map<#UNIQ#>.addPolyline(polygon);
                    map<#UNIQ#>.polylines.push(polygon);
                }
            });
            return false;
        }

        function updateMarkers<#UNIQ#>() {
            loadMarkers(function () {
                var markersCnt = markers.length;
                for(var i=0;i<markersCnt;i++) {
                    var marker=markers[i];
                    var temp_id=marker.ID;
                    if (checkMarkerExists(temp_id)) {
                        var mk=getMarkerIndex(temp_id);
                        map<#UNIQ#>.removeMarker(map<#UNIQ#>.markers[mk]);
                        map<#UNIQ#>.markers.splice(mk,1);
                    }
                    var mapMarker = new mxn.Marker( new mxn.LatLonPoint(marker.LAT, marker.LON));
                    mapMarker.temp_id = temp_id;
                    mapMarker.setIcon('<#ROOTHTML#>modules/app_gpstrack/marker.php?color='+encodeURIComponent(marker.COLOR));
                    mapMarker.setLabel(marker.NAME);
                    mapMarker.setInfoBubble(marker.HTML);
                    map<#UNIQ#>.addMarker(mapMarker);
                    map<#UNIQ#>.markers.push(mapMarker);
                }
            });

            clearTimeout(updateTimeOut<#UNIQ#>);
            [#if ACTION="track"#]
            updateTimeOut<#UNIQ#>=setTimeout('updateMarkers<#UNIQ#>();', 5*1000);
            map<#UNIQ#>.autoCenterAndZoom();
            [#else#]
            updateTimeOut<#UNIQ#>=setTimeout('updateMarkers<#UNIQ#>();', 30*1000);
            [#endif#]
            return false;
        }

        var map<#UNIQ#>;

        [#if LATEST_LAT!=""#]
        var startLat<#UNIQ#>=[#LATEST_LAT#];
        [#else#]
        var startLat<#UNIQ#>=53.901506;
        [#endif#]

        [#if LATEST_LON!=""#]
        var startLon<#UNIQ#>=[#LATEST_LON#];
        [#else#]
        var startLon<#UNIQ#>=27.565269;
        [#endif#]

        $(document).ready(function(){

            map<#UNIQ#> = new mxn.Mapstraction('map<#UNIQ#>', 'openlayers');
            var latlon = new mxn.LatLonPoint(startLat<#UNIQ#>,startLon<#UNIQ#>);
            map<#UNIQ#>.setCenterAndZoom(latlon, 10);
            //map.addLargeControls()

            map<#UNIQ#>.markers = new Array();
            map<#UNIQ#>.polylines = new Array();

            reloadData();
            resizeMap();


        });


        function reloadData() {

            markers = [];
            for(var i=0; i < map<#UNIQ#>.markers.length; i++){
                map<#UNIQ#>.removeMarker(map<#UNIQ#>.markers[i]);
            }
            map<#UNIQ#>.markers = new Array();
            updateMarkers<#UNIQ#>();

            for(var i=0; i < map<#UNIQ#>.polylines.length; i++){
                map<#UNIQ#>.removePolyline(map<#UNIQ#>.polylines[i]);
            }
            map<#UNIQ#>.polylines = new Array();

            [#begin DEVICES#]
            [#if ID="<#DEVICE_ID#>" || "<#DEVICE_ID#>"==""#]
            updateRoute<#UNIQ#>([#ID#], '[#COLOR#]');
            [#endif#]
            [#end DEVICES#]
            updateLocations<#UNIQ#>()

        }


        function zoomToDevice<#UNIQ#>(id) {
            if (id==0) return;
            for (var i=0; i<map<#UNIQ#>.markers.length; i++){
                if (map<#UNIQ#>.markers[i].temp_id==id) {
                    //alert('found!');
                    console.log(map<#UNIQ#>.markers[i]);
                    map<#UNIQ#>.setCenter(map<#UNIQ#>.markers[i].location);
                }
            }
        }

        function resetMapZoom<#UNIQ#>() {
            map<#UNIQ#>.autoCenterAndZoom();
            return false;
        }

    </script>

[#inc action_usual_common.html#]