[#inc action_usual_scripts.html#]
<script src="https://maps.api.2gis.ru/2.0/loader.js?pkg=full" type="text/javascript"></script>
<script type="text/javascript" language="javascript">
    var updateTimeOut;
    function updateLocations() {
        loadLocations(function () {
            var locationsLength = locations.length;
            for (var i = 0; i < locationsLength; i++) {
                var location = locations[i];
                DG.circle([parseFloat(location.LAT), parseFloat(location.LON)], parseFloat(location.RANGE)).addTo(map).bindLabel(location.TITLE);
            }
        });
        return false;
    }
    function getHexColor(colorStr) {
        var a = document.createElement('div');
        a.style.color = colorStr;
        var colors = window.getComputedStyle( document.body.appendChild(a) ).color.match(/\d+/g).map(function(a){ return parseInt(a,10); });
        document.body.removeChild(a);
        return (colors.length >= 3) ? '#' + (((1 << 24) + (colors[0] << 16) + (colors[1] << 8) + colors[2]).toString(16).substr(1)) : false;
    }
    function updateRoute(device_id, color) {
        var clr = getHexColor(color);
        loadRoute(device_id, function (path) {
            if (path.length>0) {
                var geometry = new Array();
                path.forEach(function (item, i, points) {
                    geometry.push(new Array(parseFloat(item.LAT), parseFloat(item.LON)))
                });
                var polyline = DG.polyline(geometry, { color: clr }).addTo(map);
                map.polylines.push(polyline);

                path.forEach(function (item, i, arr) {
                    var mapMarker = DG.marker([parseFloat(item.LAT), parseFloat(item.LON)], {
                        icon: DG.icon(
                            { iconUrl: '<#ROOTHTML#>modules/app_gpstrack/marker.php?color='+encodeURIComponent(color)+'&direction='+encodeURIComponent(item.ANGLE),
                                    //'../templates/app_gpstrack/img/gps.png',
                                iconSize: [15, 15],
                                iconAnchor: [8, 8]
                            }),

                        title: item.TITLE + "\nSpeed: " + item.SPEED + "\nAltitude: " + item.ALT + "\nAccuracy: " + item.ACCURACY,
                        alt: item.TITLE,
                        id_log: item.ID
                    }).addTo(map).bindPopup(item.TITLE);

                    mapMarker.on('click', function(e) {
                        console.log(e);
                        // confirm
                        var url_del='<#ROOTHTML#>ajax/app_gpstrack.html?op=del_log&id_log='+e.target.options.id_log;
                        //console.log(url_del);
                        $.ajax({
                            url: url_del
                        }).done(function (data_res) {
                            console.log(data_res);
                        });
                        e.target.remove();

                    });
                    map.markers.push(mapMarker);
                });
                // увеличиваем масштаб так, чтобы было видно всю ломаную
                map.fitBounds(polyline.getBounds());
            }
        });

        return false;
    }

function findMarkerOnMap(temp_id) {
    for (var i = 0; i < map.markers.length; i++) {
        if (map.markers[i].options.label == temp_id) {
            return i;
        }
    }
    return -1;
}
function updateMarkers() {
    loadMarkers(function () {
        var markersCnt = markers.length;
        for (var i = 0; i < markersCnt; i++) {
            var marker = markers[i];
            var temp_id = marker.ID;
            var markerIndex = findMarkerOnMap(temp_id);
            if (markerIndex==-1) {
                console.log('new marker',marker);
                let mapMarker;
                if (marker.AVATAR!="" && marker.AVATAR!=null) {
                    var icon = DG.icon({ iconUrl: '<#ROOTHTML#>cms/avatars/'+marker.AVATAR, iconSize: [40, 40] })
                    mapMarker = DG.marker([parseFloat(marker.LAT), parseFloat(marker.LON)], {
                        icon: icon,
                        alt: marker.HTML,
                        label: marker.ID
                    }).addTo(map).bindPopup(marker.HTML).bindLabel(marker.NAME);
                }
                else {
                    mapMarker = DG.marker([parseFloat(marker.LAT), parseFloat(marker.LON)], {
                        alt: marker.HTML,
                        label: marker.ID
                    }).addTo(map).bindPopup(marker.HTML).bindLabel(marker.NAME);
                }
                map.markers.push(mapMarker);
            } else {
                var marker_obj = map.markers[markerIndex];
                var lat = parseFloat(marker.LAT);
                var lng = parseFloat(marker.LON);
                var oldLatLng = marker_obj.getLatLng();
                var newLatLng = DG.latLng(lat, lng);
                marker_obj.setLatLng(newLatLng);
                if ((oldLatLng.lng != newLatLng.lng) || (oldLatLng.lat != newLatLng.lat)) {
                    map.flyTo(newLatLng);
                }
            }
        }
    });
    updateTimeOut = setTimeout('updateMarkers();', 5000);
    return false;
}

    var map;
    [#if LATEST_LAT!= ""#]
    var startLat = [#LATEST_LAT#];
    [#else#]
    var startLat = 53.901506;
    [#endif#]

    [#if LATEST_LON!= ""#]
    var startLon = [#LATEST_LON#];
    [#else#]
    var startLon = 27.565269;
    [#endif#]

    DG.then(function () {
        map = DG.map('map<#UNIQ#>', {
            center: [startLat, startLon],
            zoom: 13,
            geoclicker: true
        });

        DG.control.location({position: 'bottomright'}).addTo(map);
        DG.control.scale().addTo(map);
        DG.control.ruler({position: 'bottomleft'}).addTo(map);
        DG.control.traffic().addTo(map);

        map.markers = [];
        map.polylines = [];

        updateLocations();
        reloadData();
        resizeMap();
        map.invalidateSize();
    });

    function reloadData() {
        //map.markers = new Array() //DG.featureGroup()
        //map.location = new Array() //DG.featureGroup()
        //map.polylines = new Array();

        if (typeof map.markers != 'undefined') {
            for (var i = 0; i < map.markers.length; i++) {
                map.markers[i].remove();
            }
            map.markers = [];
        }

        if (typeof map.polylines != 'undefined') {
            for (var i = 0; i < map.polylines.length; i++) {
                map.polylines[i].remove();
            }
            map.polylines = [];
        }

        updateMarkers();

        [#if DEVICE_ID!=""#]
        [#begin DEVICES#]
        [#if ID="<#DEVICE_ID#>"#]
        updateRoute([#ID#], '[#COLOR#]');
        [#endif ID#]
        [#end DEVICES#]
        [#else DEVICE_ID#]
        [#begin DEVICES#]
        updateRoute([#ID#], '[#COLOR#]');
        [#end DEVICES#]
        [#endif DEVICE_ID#]

    }

    function legendUpdate() {
        return false;
    }

    function resetMapZoom() {
            //map.autoCenterAndZoom();
            return false;
    }

</script>

[#inc action_usual_common.html#]
