[#inc action_usual_scripts.html#]
<script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=true[#if "<#API_KEY#>"!=""#]&key=<#API_KEY#>[#endif#]"></script>
<!--<script type="text/javascript" src="<#ROOTHTML#>js/gmaps.js"></script>-->

<script type="text/javascript" language="javascript">

var updateTimeOut;
function updateLocations() {
    loadLocations(function () {
        let locationsLength = locations.length;
        for(let i = 0; i < locationsLength; i++)
        {
            let location = locations[i];
            let temp_id  = location.ID;
            let myLatLng = {lat: parseFloat(location.LAT), lng: parseFloat(location.LON)};
            let myCircle = new google.maps.Circle({
                temp_id: temp_id,
                center: myLatLng,
                radius: parseFloat(location.RANGE),
                map: map,
                title: location.TITLE,
                strokeColor: '#0000FF',
                strokeOpacity: 0.8,
                strokeWeight: 2,
                fillColor: '#0000FF',
                fillOpacity: 0.35,
            });
        }
    });
    return false;
}
function zoomToObject(obj){
    var bounds = new google.maps.LatLngBounds();
    var points = obj.getPath().getArray();
    for (var n = 0; n < points.length ; n++){
        bounds.extend(points[n]);
    }
    map.fitBounds(bounds);
}
function updateRoute(device_id, color) {
    loadRoute(device_id, function (path) {
        if (path.length>0) {
            var pathCoordinates = new Array();
            path.forEach(function (item, i, arr) {
                let myLatLng = {lat: parseFloat(path[i].LAT), lng: parseFloat(path[i].LON)};
                pathCoordinates.push(myLatLng);

                let pathMarkerImg = {
                    url: '<#ROOTHTML#>modules/app_gpstrack/marker.php?color='+encodeURIComponent(color)+'&direction='+encodeURIComponent(path[i].ANGLE),
                    size: new google.maps.Size(12, 12),
                    scaledSize: new google.maps.Size(12, 12),
                    labelOrigin: new google.maps.Point(12, -10),
                };

                let pathMarker = new google.maps.Marker({
                    temp_id: 'path'+path[i].ID,
                    icon: pathMarkerImg,
                    position: myLatLng,
                    map: map,
                    label: '',
                    title: path[i].TITLE+"\n"+path[i].ADDED+"\n<#LANG_SPEED#>: "+path[i].SPEED+"\n<#LANG_BATTERY_LEVEL#>: "+path[i].BATTLEVEL,
                });

                map.markers.push(pathMarker);

            } );
            var myPath = new google.maps.Polyline({
                path: pathCoordinates,
                geodesic: true,
                strokeColor: color,
                strokeOpacity: 0.3,
                strokeWeight: 4
            });
            myPath.setMap(map);
            map.polylines.push(myPath);
            zoomToObject(myPath);
        }
    });
 return false;
}
function createMarker(markerData) {
    let temp_id=markerData.ID;
    let myLatLng = {lat: parseFloat(markerData.LAT), lng: parseFloat(markerData.LON)};

    let numberMarkerImg = {
        url: '<#ROOTHTML#>modules/app_gpstrack/marker.php?color='+encodeURIComponent(markerData.COLOR),
        size: new google.maps.Size(24, 24),
        scaledSize: new google.maps.Size(24, 24),
        labelOrigin: new google.maps.Point(12, -10),
    };

    let mapMarker = new google.maps.Marker({
        temp_id: temp_id,
        icon: numberMarkerImg,
        position: myLatLng,
        map: map,
        label: (markerData.NAME!=''?markerData.NAME:undefined),
        title: (markerData.NAME!=''?markerData.NAME+' / ':'')+markerData.TITLE+' ('+markerData.PASSED+')',
        infoWindow: {
            content: markerData.HTML
        }
    });
    return mapMarker;
}
function updateMarkers() {
    loadMarkers(function () {
        var markersCnt = markers.length;
        for(var i=0;i<markersCnt;i++) {
            var marker=markers[i];
            var temp_id=marker.ID;
            if (!checkMarkerExists(temp_id)) {
                map.markers.push(createMarker(marker));
            } else {
                mk=getMarkerIndex(temp_id);
                var marker_obj=map.markers[mk];
                var lat = parseFloat(marker.LAT);
                var lng = parseFloat(marker.LON);
                var oldLatLng = marker_obj.getPosition();
                var newLatLng = new google.maps.LatLng(lat, lng);
                marker_obj.setPosition(newLatLng);
                if ((oldLatLng.lng()!=newLatLng.lng()) || (oldLatLng.lat()!=newLatLng.lat())) {
                    // marker moved
                    map.setCenter(newLatLng.lat(), newLatLng.lng());
                }
            }
        }
    });
    clearTimeout(updateTimeOut);
    updateTimeOut=setTimeout('updateMarkers();', 3000);
    return false;
}
    var map;
    [#if LATEST_LAT!=""#]
    var startLat=[#LATEST_LAT#];
    [#else#]
    var startLat=53.901506;
    [#endif#]
    [#if LATEST_LON!=""#]
    var startLon=[#LATEST_LON#];
    [#else#]
    var startLon=27.565269;
    [#endif#]
    $(document).ready(function(){
		
	var myLatlng = new google.maps.LatLng(startLat,startLon);
	var mapOptions = {
		zoom: 16,
		center: myLatlng
		//,disableDefaultUI: true
		[#if MAPTYPE="map"#]
        , mapType: 'roadmap'
        [#endif#]
        [#if MAPTYPE="satellite"#]
        , mapType: 'satellite'
        [#endif#]
        [#if MAPTYPE="hybrid"#]
        , mapType: 'hybrid'
        [#endif#]
	}
	
	map = new google.maps.Map(document.getElementById('map<#UNIQ#>'), mapOptions);
	map.markers = new Array();
	map.polylines = new Array();

	[#if LATEST_LAT=""#]
	// HTML5 геолокация
	if (navigator.geolocation) {
		navigator.geolocation.getCurrentPosition(function(position) {
			var pos = {
				lat: position.coords.latitude,
				lng: position.coords.longitude
			};

			map.setCenter(pos);
		}, function() {
			// ошибка геолокации
		});
	} else { /* Браузер не поддерживает геолокацию */ }
	[#endif#]

	resizeMap();
	updateLocations();
    reloadData();

    });

    function reloadData() {
        markers = [];
        for(var i=0; i < map.markers.length; i++){
            map.markers[i].setMap(null);
        }
        map.markers = new Array();

        updateMarkers();
        for(var i=0; i < map.polylines.length; i++){
            map.polylines[i].setMap(null);
        }
        map.polylines = new Array();

        [#begin DEVICES#]
        [#if ID="<#DEVICE_ID#>" || "<#DEVICE_ID#>"==""#]
         updateRoute([#ID#], '[#COLOR#]');
        [#endif#]
        [#end DEVICES#]

    }

</script>

[#inc action_usual_common.html#]
